.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin: 15px
}

@media(max-width: 767px) {
    .buttons {
        grid-template-columns: 1fr;
        margin: 25px;
    }
}

.buttons__button {
    border: none;
    color: teal;
    background-color: white;
}